@model EcPayHomeShippingFee

@using Nop.Plugin.Shipping.EcLogistics.Home.Domain
@using Nop.Web.Framework.TagHelpers.Admin
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Nop.Web.Framework.TagHelpers.Shared

@{
    Layout = "_AdminPopupLayout";
    var tempH = Model.TemperatureType == "H";
    var tempL = Model.TemperatureType == "L";
}

@if (ViewBag.RefreshPage == true)
{
    <script>
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){}
        window.close();
    </script>
}

<form asp-controller="EcLogisticsHome" asp-action="SaveEditHomeShippingMethodPopup" method="post"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugins.Shipping.EcLogisticsHome.ShippingMethod.EditTitle")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">

                @*<div asp-validation-summary="All"></div>*@
                <div style="color: red; margin: 10px;">
                    @ViewBag.error
                </div>
                <input asp-for="Id" type="hidden"/>

                <div class="cards-group">
                    <div class="card card-default card-popup">

                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="SizeFrom"/>
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="SizeFrom" asp-required="true"/>
                                    <span asp-validation-for="SizeFrom"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="SizeTo"/>
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="SizeTo" asp-required="true"/>
                                    <span asp-validation-for="SizeTo"></span>
                                </div>
                            </div> 
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="TemperatureType" />
                                </div>
                                <div>
                                    <div style="margin: 10px 10px 0 10px;">
                                        <input id="TemperatureType_H" type="radio" name="TemperatureType" value="H" checked=@tempH/>
                                        <label for="TemperatureType_H">@T("Plugins.Shipping.EcLogistics.Fields.TemperatureType.H")</label>
                                    </div>
                                </div>
                                <div>
                                    <div style="margin: 10px 10px 0 10px;">
                                        <input id="TemperatureType_L" type="radio" name="TemperatureType" value="L" checked=@tempL/>
                                        <label for="TemperatureType_L">@T("Plugins.Shipping.EcLogistics.Fields.TemperatureType.L")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="Fee"/>
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="Fee" asp-required="true"/>
                                    <span asp-validation-for="Fee"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="ForeignFee"/>
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="ForeignFee" asp-required="true"/>
                                    <span asp-validation-for="ForeignFee"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="HolidayExtraFee"/>
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="HolidayExtraFee"/>
                                    <span asp-validation-for="HolidayExtraFee"></span>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>