@model EcLogisticsModel

@using Nop.Plugin.Shipping.EcLogistics.Models
@using Nop.Web.Framework.Models.DataTables
@using Nop.Web.Framework.TagHelpers.Admin
@using Nop.Web.Framework.TagHelpers.Shared
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="EcLogistics" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-header">
                @T("Plugins.Shipping.EcLogistics.Configuration.Title")
            </div>
            <div class="card-body">
                @Html.Raw(T("Plugins.Shipping.EcLogistics.Configuration.Instructions"))

                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="MerchantId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MerchantId" asp-required="true" />
                        <span asp-validation-for="MerchantId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="HashKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="HashKey" asp-required="true" />
                        <span asp-validation-for="HashKey"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="HashIV" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="HashIV" asp-required="true" />
                        <span asp-validation-for="HashIV"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="PlatformId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PlatformId" />
                        <span asp-validation-for="PlatformId"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-default">
            <div class="card-header">
                @T("Plugins.Shipping.EcLogistics.Configuration.CreateTestData")
            </div>
            <div class="card-body">
                @Html.Raw(T("Plugins.Shipping.EcLogistics.Configuration.CreateTestData.Instructions"))

                <div class="form-group row">
                    <div class="col-md-3" style="text-align: right;">
                        <label class="col-form-label">@T("Plugins.Shipping.EcLogistics.Configuration.Test.Unimart")</label>
                    </div>
                    <div class="col-md-2">
                        <button type="button" onclick="send_test('unimart')" class="btn btn-primary">@T("Plugins.Shipping.EcLogistics.Configuration.Test")</button>
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label" id="unimartStatus" hidden="true" style=""></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3" style="text-align: right;">
                        <label class="col-form-label">@T("Plugins.Shipping.EcLogistics.Configuration.Test.UnimartFreeze")</label>
                    </div>
                    <div class="col-md-2">
                        <button type="button" onclick="send_test('unimartfreeze')" class="btn btn-primary">@T("Plugins.Shipping.EcLogistics.Configuration.Test")</button>
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label" id="unimartfreezeStatus" hidden="true"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3" style="text-align: right;">
                        <label class="col-form-label">@T("Plugins.Shipping.EcLogistics.Configuration.Test.Fami")</label>
                    </div>
                    <div class="col-md-2">
                        <button type="button" onclick="send_test('fami')" class="btn btn-primary">@T("Plugins.Shipping.EcLogistics.Configuration.Test")</button>
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label" id="famiStatus" hidden="true"></label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

<script asp-location="Footer">

    function send_test(subType) {
        var result = null;
        $.ajax({
            cache: false,
            type: "GET",
            url: window.location.origin + "/Admin/EcLogistics/SendTest/"+ subType,
            async: false,
            //data:{ subType: subType},
            success: function (data) {
                if (data) {
                    result = data.status;
                } else {
                    display_nop_error(data);
                }
            }
        });
        console.log(result);
        showStatus(subType, result);
        return true;
    }

    function showStatus(subType, status) {
        var el = $('#' + subType + "Status");
        el.removeAttr('hidden');
        el.text(status ? "Success" : "Error");
        el.css('color', status ? "green" : "red");
    }

</script>